USE [master]
GO
/****** Object:  Database [SistemSidang1]    Script Date: 04/07/2025 12:23:46 ******/
CREATE DATABASE [SistemSidang1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SistemSidang1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SistemSidang1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SistemSidang1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SistemSidang1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SistemSidang1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SistemSidang1]
GO
/****** Object:  Table [dbo].[Jadwal]    Script Date: 04/07/2025 12:23:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jadwal](
	[id_sidang] [int] NOT NULL,
	[ruang_sidang] [varchar](10) NULL,
	[jam_sidang] [time](7) NULL,
	[tanggal_sidang] [date] NULL,
	[jam_selesai] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_sidang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sidang]    Script Date: 04/07/2025 12:23:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sidang](
	[id_sidang] [int] NOT NULL,
	[judul] [varchar](100) NULL,
	[waktu_pengumpulan] [date] NULL,
	[dok_laporan] [varchar](max) NULL,
	[status_ajuan] [varchar](20) NULL,
	[status_sidang] [binary](1) NULL,
	[dok_final] [varbinary](max) NULL,
	[id_kelompok] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_sidang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_aPerluPenjadwalan]    Script Date: 04/07/2025 12:23:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[View_aPerluPenjadwalan]
AS
SELECT s.id_sidang,
       s.judul,
       'Belum terjadwal' AS keterangan
FROM   dbo.Sidang AS s
WHERE  s.status_ajuan = 'Approved'
       AND s.status_sidang IS NULL
       AND NOT EXISTS (SELECT 1
                       FROM   dbo.Jadwal AS j
                       WHERE  j.id_sidang = s.id_sidang);

GO
/****** Object:  View [dbo].[View_SidangMendatang]    Script Date: 04/07/2025 12:23:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[View_SidangMendatang]
AS
SELECT j.tanggal_sidang,
       j.id_sidang,
       s.judul
FROM   dbo.Jadwal AS j
       INNER JOIN
       dbo.Sidang AS s
       ON j.id_sidang = s.id_sidang
WHERE  s.status_ajuan = 'Approved'
       AND j.tanggal_sidang >= CAST (GETDATE() AS DATE);

GO
/****** Object:  Table [dbo].[Admin]    Script Date: 04/07/2025 12:23:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nama] [varchar](50) NULL,
	[username] [varchar](50) NULL,
	[email] [varchar](255) NULL,
	[password_hash] [varchar](255) NULL,
	[role] [varchar](50) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bimbingan]    Script Date: 04/07/2025 12:23:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bimbingan](
	[nomor_dosen] [int] NOT NULL,
	[isPembimbing] [binary](1) NULL,
	[id_kelompok] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detail_Sidang]    Script Date: 04/07/2025 12:23:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detail_Sidang](
	[id_sidang] [int] NOT NULL,
	[nomor_dosen] [int] NOT NULL,
	[catatan_sidang] [varchar](255) NULL,
	[dok_revisi] [varchar](max) NULL,
	[status_revisi] [varchar](15) NULL,
	[id_matkul] [int] NULL,
	[nama_file] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_sidang] ASC,
	[nomor_dosen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dosen]    Script Date: 04/07/2025 12:23:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dosen](
	[nomor_dosen] [int] NOT NULL,
	[nama_dosen] [varchar](50) NULL,
	[isPembimbing] [binary](1) NULL,
	[prodi] [varchar](30) NULL,
	[isPenguji] [binary](1) NULL,
	[email] [varchar](255) NULL,
	[password_hash] [varchar](255) NULL,
	[username] [varchar](50) NULL,
	[role] [varchar](20) NULL,
	[created_at] [datetime] NULL,
	[jenis_kelamin] [char](1) NULL,
	[no_telepon] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[nomor_dosen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kelas]    Script Date: 04/07/2025 12:23:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kelas](
	[id_kelas] [int] NOT NULL,
	[nama_kelas] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_kelas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kelas_Mahasiswa]    Script Date: 04/07/2025 12:23:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kelas_Mahasiswa](
	[nim] [int] NOT NULL,
	[id_kelas] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nim] ASC,
	[id_kelas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kelompok]    Script Date: 04/07/2025 12:23:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kelompok](
	[id_kelompok] [int] IDENTITY(1,1) NOT NULL,
	[nomor_kelompok] [int] NOT NULL,
	[nim] [int] NOT NULL,
	[tahun_ajaran] [int] NOT NULL,
	[jenis_sidang] [varchar](20) NOT NULL,
	[id_matkul] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_kelompok] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mahasiswa]    Script Date: 04/07/2025 12:23:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mahasiswa](
	[nim] [int] NOT NULL,
	[nama_mhs] [varchar](50) NULL,
	[prodi] [varchar](30) NULL,
	[email] [varchar](50) NULL,
	[password_hash] [varchar](255) NULL,
	[username] [varchar](50) NULL,
	[role] [varchar](20) NULL,
	[created_at] [datetime] NULL,
	[jenis_kelamin] [char](1) NULL,
	[no_telepon] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[nim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MataKuliah]    Script Date: 04/07/2025 12:23:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MataKuliah](
	[id_matkul] [int] NOT NULL,
	[nama_matkul] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_matkul] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifikasi]    Script Date: 04/07/2025 12:23:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifikasi](
	[id_notifikasi] [int] IDENTITY(1,1) NOT NULL,
	[penerima] [varchar](50) NOT NULL,
	[pesan] [text] NOT NULL,
	[waktu] [datetime] NULL,
	[status_baca] [bit] NULL,
	[pengirim] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_notifikasi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[password_resets]    Script Date: 04/07/2025 12:23:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[password_resets](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](255) NULL,
	[role] [varchar](50) NULL,
	[token] [varchar](64) NULL,
	[expires_at] [datetime] NULL,
	[used] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pengampu_Kelas]    Script Date: 04/07/2025 12:23:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pengampu_Kelas](
	[id_kelas] [int] NOT NULL,
	[nomor_dosen] [int] NOT NULL,
	[id_matkul] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_kelas] ASC,
	[nomor_dosen] ASC,
	[id_matkul] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Penilaian]    Script Date: 04/07/2025 12:23:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Penilaian](
	[id_sidang] [int] NOT NULL,
	[nim] [int] NOT NULL,
	[nomor_dosen] [int] NOT NULL,
	[n_dokumen] [float] NULL,
	[n_presentasi] [float] NULL,
	[n_tanyajawab] [float] NULL,
	[n_proyek] [float] NULL,
	[bobot_penilaian] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_sidang] ASC,
	[nim] ASC,
	[nomor_dosen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Penjadwalan]    Script Date: 04/07/2025 12:23:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Penjadwalan](
	[id_sidang] [int] NOT NULL,
	[nomor_dosen] [int] NOT NULL,
	[peran_dosen] [binary](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_sidang] ASC,
	[nomor_dosen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 04/07/2025 12:23:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NULL,
	[email] [varchar](100) NULL,
	[password_hash] [varchar](255) NULL,
	[role] [varchar](20) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([id], [nama], [username], [email], [password_hash], [role], [created_at]) VALUES (1, N'Dimas', N'ad01', NULL, N'$2y$10$sO3bRyaYchMaGrnCavO.6ejgHP2w565gJbjOQ0tCWcsjMtg3nETEa', N'Admin', CAST(N'2025-06-22T07:31:18.643' AS DateTime))
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
INSERT [dbo].[Bimbingan] ([nomor_dosen], [isPembimbing], [id_kelompok]) VALUES (1001, 0x01, 1)
INSERT [dbo].[Bimbingan] ([nomor_dosen], [isPembimbing], [id_kelompok]) VALUES (1001, 0x01, 2)
INSERT [dbo].[Bimbingan] ([nomor_dosen], [isPembimbing], [id_kelompok]) VALUES (1001, 0x01, 3)
GO
INSERT [dbo].[Detail_Sidang] ([id_sidang], [nomor_dosen], [catatan_sidang], [dok_revisi], [status_revisi], [id_matkul], [nama_file]) VALUES (4001, 1001, N'ini catatan sidang 1 penguji 1', NULL, N'Pending', 2006, NULL)
INSERT [dbo].[Detail_Sidang] ([id_sidang], [nomor_dosen], [catatan_sidang], [dok_revisi], [status_revisi], [id_matkul], [nama_file]) VALUES (4001, 1004, N'ini catatan sidang 1 penguji 2', NULL, N'Pending', 2006, NULL)
INSERT [dbo].[Detail_Sidang] ([id_sidang], [nomor_dosen], [catatan_sidang], [dok_revisi], [status_revisi], [id_matkul], [nama_file]) VALUES (4001, 1005, N'ini catatan sidang 1 penguji 3', NULL, N'Pending', 2006, NULL)
GO
INSERT [dbo].[Dosen] ([nomor_dosen], [nama_dosen], [isPembimbing], [prodi], [isPenguji], [email], [password_hash], [username], [role], [created_at], [jenis_kelamin], [no_telepon]) VALUES (1001, N'Rida', 0x01, N'Rekayasa Perangkat Lunak', 0x01, N'rida@example.com', N'$2y$10$fYyhe1tCXEQ8n.rSMnb7qOPWj4kfyVT0uIv18wpWIN.qh4rPV/XHS', N'1001', NULL, NULL, NULL, NULL)
INSERT [dbo].[Dosen] ([nomor_dosen], [nama_dosen], [isPembimbing], [prodi], [isPenguji], [email], [password_hash], [username], [role], [created_at], [jenis_kelamin], [no_telepon]) VALUES (1002, N'Yosep', 0x01, N'Rekayasa Perangkat Lunak', 0x01, N'yosep@example.com', NULL, N'1002', NULL, NULL, NULL, NULL)
INSERT [dbo].[Dosen] ([nomor_dosen], [nama_dosen], [isPembimbing], [prodi], [isPenguji], [email], [password_hash], [username], [role], [created_at], [jenis_kelamin], [no_telepon]) VALUES (1003, N'Sasmito', 0x01, N'Rekayasa Perangkat Lunak', 0x01, N'sasmito@example.com', NULL, N'1003', NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[Jadwal] ([id_sidang], [ruang_sidang], [jam_sidang], [tanggal_sidang], [jam_selesai]) VALUES (4001, N'101', CAST(N'09:00:00' AS Time), CAST(N'2025-09-01' AS Date), CAST(N'11:00:00' AS Time))
INSERT [dbo].[Jadwal] ([id_sidang], [ruang_sidang], [jam_sidang], [tanggal_sidang], [jam_selesai]) VALUES (4002, N'102', CAST(N'09:00:00' AS Time), CAST(N'2025-09-01' AS Date), CAST(N'11:00:00' AS Time))
INSERT [dbo].[Jadwal] ([id_sidang], [ruang_sidang], [jam_sidang], [tanggal_sidang], [jam_selesai]) VALUES (4003, N'103', CAST(N'09:00:00' AS Time), CAST(N'2025-09-01' AS Date), CAST(N'11:00:00' AS Time))
GO
INSERT [dbo].[Kelas] ([id_kelas], [nama_kelas]) VALUES (3001, N'RPL1A')
INSERT [dbo].[Kelas] ([id_kelas], [nama_kelas]) VALUES (3002, N'RPL1B')
GO
INSERT [dbo].[Kelas_Mahasiswa] ([nim], [id_kelas]) VALUES (1000000001, 3001)
INSERT [dbo].[Kelas_Mahasiswa] ([nim], [id_kelas]) VALUES (1000000002, 3001)
INSERT [dbo].[Kelas_Mahasiswa] ([nim], [id_kelas]) VALUES (1000000003, 3001)
GO
SET IDENTITY_INSERT [dbo].[Kelompok] ON 

INSERT [dbo].[Kelompok] ([id_kelompok], [nomor_kelompok], [nim], [tahun_ajaran], [jenis_sidang], [id_matkul]) VALUES (1, 1, 1000000001, 2025, N'Tugas Akhir', 2006)
INSERT [dbo].[Kelompok] ([id_kelompok], [nomor_kelompok], [nim], [tahun_ajaran], [jenis_sidang], [id_matkul]) VALUES (2, 1, 1000000002, 2025, N'Tugas Akhir', 2006)
INSERT [dbo].[Kelompok] ([id_kelompok], [nomor_kelompok], [nim], [tahun_ajaran], [jenis_sidang], [id_matkul]) VALUES (3, 1, 1000000003, 2025, N'Tugas Akhir', 2006)
SET IDENTITY_INSERT [dbo].[Kelompok] OFF
GO
INSERT [dbo].[Mahasiswa] ([nim], [nama_mhs], [prodi], [email], [password_hash], [username], [role], [created_at], [jenis_kelamin], [no_telepon]) VALUES (1000000001, N'Nayaka Ivana Putra', N'TRPL', N'nayakaivanap@gmail.com', N'$2y$10$V0xevzDVXWh4wywjfe/3.eyoGXtpSWzj1l1zT7EHy8OBaOkoKq56u', N'0920240048', N'mahasiswa', CAST(N'2024-06-01T08:00:00.000' AS DateTime), N'L', N'0820240048')
INSERT [dbo].[Mahasiswa] ([nim], [nama_mhs], [prodi], [email], [password_hash], [username], [role], [created_at], [jenis_kelamin], [no_telepon]) VALUES (1000000002, N'Muhammad Haaris Nur Salim', N'TRPL', N'haarisnursalim@gmail.com', N'$2y$10$V0xevzDVXWh4wywjfe/3.eyoGXtpSWzj1l1zT7EHy8OBaOkoKq56u', N'0920240033', N'mahasiswa', CAST(N'2024-06-01T08:10:00.000' AS DateTime), N'L', N'0820240033')
INSERT [dbo].[Mahasiswa] ([nim], [nama_mhs], [prodi], [email], [password_hash], [username], [role], [created_at], [jenis_kelamin], [no_telepon]) VALUES (1000000003, N'Andrew Hermawan Sugiarto', N'TRPL', N'andrewhermawan1705@gmail.com', N'$2y$10$V0xevzDVXWh4wywjfe/3.eyoGXtpSWzj1l1zT7EHy8OBaOkoKq56u', N'0920240040', N'mahasiswa', CAST(N'2024-06-01T08:20:00.000' AS DateTime), N'L', N'0820240040')
GO
INSERT [dbo].[MataKuliah] ([id_matkul], [nama_matkul]) VALUES (2001, N'Pemrograman 2')
INSERT [dbo].[MataKuliah] ([id_matkul], [nama_matkul]) VALUES (2002, N'Rekayasa Perangkat Lunak')
INSERT [dbo].[MataKuliah] ([id_matkul], [nama_matkul]) VALUES (2003, N'Basis Data')
GO
SET IDENTITY_INSERT [dbo].[Notifikasi] ON 

INSERT [dbo].[Notifikasi] ([id_notifikasi], [penerima], [pesan], [waktu], [status_baca], [pengirim]) VALUES (1, N'1001', N'Mahasiswa Andrew Hermawan Sugiarto (0920240040) telah mengajukan sidang baru. Silakan cek pengajuan di sistem.', CAST(N'2025-07-01T13:55:25.670' AS DateTime), 0, N'0920240040')
INSERT [dbo].[Notifikasi] ([id_notifikasi], [penerima], [pesan], [waktu], [status_baca], [pengirim]) VALUES (2, N'1001', N'Mahasiswa Andrew Hermawan Sugiarto (0920240040) telah mengajukan sidang baru. Silakan cek pengajuan di sistem.', CAST(N'2025-07-01T13:55:45.920' AS DateTime), 0, N'0920240040')
INSERT [dbo].[Notifikasi] ([id_notifikasi], [penerima], [pesan], [waktu], [status_baca], [pengirim]) VALUES (3, N'1001', N'Mahasiswa Andrew Hermawan Sugiarto (0920240040) telah mengajukan sidang baru. Silakan cek pengajuan di sistem.', CAST(N'2025-07-01T13:55:49.613' AS DateTime), 0, N'0920240040')
SET IDENTITY_INSERT [dbo].[Notifikasi] OFF
GO
SET IDENTITY_INSERT [dbo].[password_resets] ON 

INSERT [dbo].[password_resets] ([id], [email], [role], [token], [expires_at], [used]) VALUES (1, N'0920240034@polytechnic.astra.ac.id', N'Admin', N'797bea9bc8ae3cc555f43741fdcf8dab02caa16e746e7e6c1a7f23efb936187f', CAST(N'2025-06-17T04:27:30.000' AS DateTime), 0)
INSERT [dbo].[password_resets] ([id], [email], [role], [token], [expires_at], [used]) VALUES (2, N'0920240034@polytechnic.astra.ac.id', N'Admin', N'7a037f9af3011e03ae8de93fdf224cee354c1383efa461a28073f9b2e977232f', CAST(N'2025-06-17T10:49:32.000' AS DateTime), 0)
INSERT [dbo].[password_resets] ([id], [email], [role], [token], [expires_at], [used]) VALUES (3, N'0920240034@polytechnic.astra.ac.id', N'Admin', N'd0e054fff2d52916cc9c16db6744c2456b0796682fe017c73aa63cc98ddec759', CAST(N'2025-06-17T11:01:57.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[password_resets] OFF
GO
INSERT [dbo].[Pengampu_Kelas] ([id_kelas], [nomor_dosen], [id_matkul]) VALUES (3001, 1001, 2003)
INSERT [dbo].[Pengampu_Kelas] ([id_kelas], [nomor_dosen], [id_matkul]) VALUES (3001, 1002, 2001)
INSERT [dbo].[Pengampu_Kelas] ([id_kelas], [nomor_dosen], [id_matkul]) VALUES (3001, 1003, 2002)
GO
INSERT [dbo].[Penilaian] ([id_sidang], [nim], [nomor_dosen], [n_dokumen], [n_presentasi], [n_tanyajawab], [n_proyek], [bobot_penilaian]) VALUES (4001, 1000000001, 1001, 90, 85, 80, 95, 40)
INSERT [dbo].[Penilaian] ([id_sidang], [nim], [nomor_dosen], [n_dokumen], [n_presentasi], [n_tanyajawab], [n_proyek], [bobot_penilaian]) VALUES (4001, 1000000001, 1004, 88, 87, 82, 93, 30)
INSERT [dbo].[Penilaian] ([id_sidang], [nim], [nomor_dosen], [n_dokumen], [n_presentasi], [n_tanyajawab], [n_proyek], [bobot_penilaian]) VALUES (4001, 1000000001, 1005, 92, 88, 85, 97, 30)
GO
INSERT [dbo].[Penjadwalan] ([id_sidang], [nomor_dosen], [peran_dosen]) VALUES (4001, 1001, 0x01)
INSERT [dbo].[Penjadwalan] ([id_sidang], [nomor_dosen], [peran_dosen]) VALUES (4001, 1004, 0x00)
INSERT [dbo].[Penjadwalan] ([id_sidang], [nomor_dosen], [peran_dosen]) VALUES (4001, 1005, 0x00)
GO
INSERT [dbo].[Sidang] ([id_sidang], [judul], [waktu_pengumpulan], [dok_laporan], [status_ajuan], [status_sidang], [dok_final], [id_kelompok]) VALUES (4001, N'Aplikasi Pengajuan Sidang', CAST(N'2025-06-27' AS Date), NULL, N'Approved', 0x01, NULL, 1)
INSERT [dbo].[Sidang] ([id_sidang], [judul], [waktu_pengumpulan], [dok_laporan], [status_ajuan], [status_sidang], [dok_final], [id_kelompok]) VALUES (4002, N'Aplikasi Peminjaman Lab', CAST(N'2025-08-08' AS Date), NULL, N'Approved', 0x01, NULL, 5)
INSERT [dbo].[Sidang] ([id_sidang], [judul], [waktu_pengumpulan], [dok_laporan], [status_ajuan], [status_sidang], [dok_final], [id_kelompok]) VALUES (4003, N'Sistem Inventory', CAST(N'2025-08-07' AS Date), NULL, N'Approved', 0x01, NULL, 9)
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [username], [email], [password_hash], [role], [created_at]) VALUES (1, N'admin', N'0920240034@polytechnic.astra.ac.id', N'$2y$10$KBwB/XYUt5wHfPUIHnOANeUvPwHMjfKsmmj/D8Dy/IsqRsjbsQ7bG', N'admin', CAST(N'2025-06-14T19:25:47.803' AS DateTime))
INSERT [dbo].[users] ([id], [username], [email], [password_hash], [role], [created_at]) VALUES (6, N'dsn1', N'0920240010@polytechnic.astra.ac.id', N'$2y$10$4Ft/tJdij326T7ncfLlEdeWut/Hi3yLl9xhGB0ojM1WqNu43KUPtK', N'dosen', CAST(N'2025-06-17T07:55:30.377' AS DateTime))
INSERT [dbo].[users] ([id], [username], [email], [password_hash], [role], [created_at]) VALUES (8, N'mhs1', N'0920240020@polytechnic.astra.ac.id', N'$2y$10$sXZYwjBe/XEIz6Olmlr5u.JlFseclo7WXXwj0pwixXMcOV4//jWqe', N'mahasiswa', CAST(N'2025-06-17T07:56:17.447' AS DateTime))
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Admin__AB6E6164724C4087]    Script Date: 04/07/2025 12:23:46 ******/
ALTER TABLE [dbo].[Admin] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Admin__F3DBC57259B3924E]    Script Date: 04/07/2025 12:23:46 ******/
ALTER TABLE [dbo].[Admin] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E6164EBBE64A3]    Script Date: 04/07/2025 12:23:46 ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__F3DBC572AF305578]    Script Date: 04/07/2025 12:23:46 ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Admin] ADD  DEFAULT ('Admin') FOR [role]
GO
ALTER TABLE [dbo].[Admin] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Dosen] ADD  DEFAULT (dateadd(hour,(7),getdate())) FOR [created_at]
GO
ALTER TABLE [dbo].[Mahasiswa] ADD  DEFAULT (dateadd(hour,(7),getdate())) FOR [created_at]
GO
ALTER TABLE [dbo].[Notifikasi] ADD  DEFAULT (getdate()) FOR [waktu]
GO
ALTER TABLE [dbo].[Notifikasi] ADD  DEFAULT ((0)) FOR [status_baca]
GO
ALTER TABLE [dbo].[password_resets] ADD  DEFAULT ((0)) FOR [used]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Bimbingan]  WITH CHECK ADD  CONSTRAINT [FK_Bimbingan_Dosen] FOREIGN KEY([nomor_dosen])
REFERENCES [dbo].[Dosen] ([nomor_dosen])
GO
ALTER TABLE [dbo].[Bimbingan] CHECK CONSTRAINT [FK_Bimbingan_Dosen]
GO
ALTER TABLE [dbo].[Bimbingan]  WITH CHECK ADD  CONSTRAINT [FK_Bimbingan_Kelompok] FOREIGN KEY([id_kelompok])
REFERENCES [dbo].[Kelompok] ([id_kelompok])
GO
ALTER TABLE [dbo].[Bimbingan] CHECK CONSTRAINT [FK_Bimbingan_Kelompok]
GO
ALTER TABLE [dbo].[Detail_Sidang]  WITH CHECK ADD  CONSTRAINT [FK_DetailSidang_Dosen] FOREIGN KEY([nomor_dosen])
REFERENCES [dbo].[Dosen] ([nomor_dosen])
GO
ALTER TABLE [dbo].[Detail_Sidang] CHECK CONSTRAINT [FK_DetailSidang_Dosen]
GO
ALTER TABLE [dbo].[Detail_Sidang]  WITH CHECK ADD  CONSTRAINT [FK_DetailSidang_MataKuliah] FOREIGN KEY([id_matkul])
REFERENCES [dbo].[MataKuliah] ([id_matkul])
GO
ALTER TABLE [dbo].[Detail_Sidang] CHECK CONSTRAINT [FK_DetailSidang_MataKuliah]
GO
ALTER TABLE [dbo].[Detail_Sidang]  WITH CHECK ADD  CONSTRAINT [FK_DetailSidang_Sidang] FOREIGN KEY([id_sidang])
REFERENCES [dbo].[Sidang] ([id_sidang])
GO
ALTER TABLE [dbo].[Detail_Sidang] CHECK CONSTRAINT [FK_DetailSidang_Sidang]
GO
ALTER TABLE [dbo].[Jadwal]  WITH CHECK ADD  CONSTRAINT [FK_Jadwal_Sidang] FOREIGN KEY([id_sidang])
REFERENCES [dbo].[Sidang] ([id_sidang])
GO
ALTER TABLE [dbo].[Jadwal] CHECK CONSTRAINT [FK_Jadwal_Sidang]
GO
ALTER TABLE [dbo].[Kelas_Mahasiswa]  WITH CHECK ADD  CONSTRAINT [FK_KelasMahasiswa_Kelas] FOREIGN KEY([id_kelas])
REFERENCES [dbo].[Kelas] ([id_kelas])
GO
ALTER TABLE [dbo].[Kelas_Mahasiswa] CHECK CONSTRAINT [FK_KelasMahasiswa_Kelas]
GO
ALTER TABLE [dbo].[Kelas_Mahasiswa]  WITH CHECK ADD  CONSTRAINT [FK_KelasMahasiswa_Mahasiswa] FOREIGN KEY([nim])
REFERENCES [dbo].[Mahasiswa] ([nim])
GO
ALTER TABLE [dbo].[Kelas_Mahasiswa] CHECK CONSTRAINT [FK_KelasMahasiswa_Mahasiswa]
GO
ALTER TABLE [dbo].[Kelompok]  WITH CHECK ADD  CONSTRAINT [FK_Kelompok_Mahasiswa] FOREIGN KEY([nim])
REFERENCES [dbo].[Mahasiswa] ([nim])
GO
ALTER TABLE [dbo].[Kelompok] CHECK CONSTRAINT [FK_Kelompok_Mahasiswa]
GO
ALTER TABLE [dbo].[Kelompok]  WITH CHECK ADD  CONSTRAINT [FK_Kelompok_MataKuliah] FOREIGN KEY([id_matkul])
REFERENCES [dbo].[MataKuliah] ([id_matkul])
GO
ALTER TABLE [dbo].[Kelompok] CHECK CONSTRAINT [FK_Kelompok_MataKuliah]
GO
ALTER TABLE [dbo].[Pengampu_Kelas]  WITH CHECK ADD  CONSTRAINT [FK_PengampuKelas_Dosen] FOREIGN KEY([nomor_dosen])
REFERENCES [dbo].[Dosen] ([nomor_dosen])
GO
ALTER TABLE [dbo].[Pengampu_Kelas] CHECK CONSTRAINT [FK_PengampuKelas_Dosen]
GO
ALTER TABLE [dbo].[Pengampu_Kelas]  WITH CHECK ADD  CONSTRAINT [FK_PengampuKelas_Kelas] FOREIGN KEY([id_kelas])
REFERENCES [dbo].[Kelas] ([id_kelas])
GO
ALTER TABLE [dbo].[Pengampu_Kelas] CHECK CONSTRAINT [FK_PengampuKelas_Kelas]
GO
ALTER TABLE [dbo].[Pengampu_Kelas]  WITH CHECK ADD  CONSTRAINT [FK_PengampuKelas_MataKuliah] FOREIGN KEY([id_matkul])
REFERENCES [dbo].[MataKuliah] ([id_matkul])
GO
ALTER TABLE [dbo].[Pengampu_Kelas] CHECK CONSTRAINT [FK_PengampuKelas_MataKuliah]
GO
ALTER TABLE [dbo].[Penilaian]  WITH CHECK ADD  CONSTRAINT [FK_Penilaian_Dosen] FOREIGN KEY([nomor_dosen])
REFERENCES [dbo].[Dosen] ([nomor_dosen])
GO
ALTER TABLE [dbo].[Penilaian] CHECK CONSTRAINT [FK_Penilaian_Dosen]
GO
ALTER TABLE [dbo].[Penilaian]  WITH CHECK ADD  CONSTRAINT [FK_Penilaian_Mahasiswa] FOREIGN KEY([nim])
REFERENCES [dbo].[Mahasiswa] ([nim])
GO
ALTER TABLE [dbo].[Penilaian] CHECK CONSTRAINT [FK_Penilaian_Mahasiswa]
GO
ALTER TABLE [dbo].[Penilaian]  WITH CHECK ADD  CONSTRAINT [FK_Penilaian_Sidang] FOREIGN KEY([id_sidang])
REFERENCES [dbo].[Sidang] ([id_sidang])
GO
ALTER TABLE [dbo].[Penilaian] CHECK CONSTRAINT [FK_Penilaian_Sidang]
GO
ALTER TABLE [dbo].[Penjadwalan]  WITH CHECK ADD  CONSTRAINT [FK_Penjadwalan_Dosen] FOREIGN KEY([nomor_dosen])
REFERENCES [dbo].[Dosen] ([nomor_dosen])
GO
ALTER TABLE [dbo].[Penjadwalan] CHECK CONSTRAINT [FK_Penjadwalan_Dosen]
GO
ALTER TABLE [dbo].[Penjadwalan]  WITH CHECK ADD  CONSTRAINT [FK_Penjadwalan_Jadwal] FOREIGN KEY([id_sidang])
REFERENCES [dbo].[Jadwal] ([id_sidang])
GO
ALTER TABLE [dbo].[Penjadwalan] CHECK CONSTRAINT [FK_Penjadwalan_Jadwal]
GO
ALTER TABLE [dbo].[Sidang]  WITH CHECK ADD  CONSTRAINT [FK_Sidang_Kelompok] FOREIGN KEY([id_kelompok])
REFERENCES [dbo].[Kelompok] ([id_kelompok])
GO
ALTER TABLE [dbo].[Sidang] CHECK CONSTRAINT [FK_Sidang_Kelompok]
GO
ALTER TABLE [dbo].[Admin]  WITH CHECK ADD CHECK  (([role]='Admin'))
GO
USE [master]
GO
