#NavSide {
  display: flex;
  min-height: 100vh;
  position: relative;
}
.label-row i {
  font-size: 1.5rem;
}
body,
.card,
.form-control,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif !important;
  color: #464869;
}
#cardNilai,
#carddataMahasiswa,
#carddetailPenilaian,
#cardcatatan {
  background-color: rgb(235, 238, 245);
  border-radius: 50px;
  border: none !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}
.nilai-mahasiswa-display {
  font-size: 5rem !important;
  font-weight: bold;
  text-align: center;
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0;
  cursor: default;
}
#carddetailPenilaian label {
  font-weight: 550;
}
.detail-penilaian-input {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  border: none;
  background-color: transparent;
  padding: 5px;
  cursor: default;
}
#catatan {
  background-color: rgb(235, 238, 245);
  border: none;

  padding: 15px;
  font-size: 1rem;
  resize: vertical;
  cursor: default;
  white-space: pre-wrap;
}
textarea[readonly],
input[readonly] {
  background-color: #e9ecef;
}

/* Style untuk tab aktif */
.nav-link.active-student-tab {
  font-weight: bold;
  color: var(--primary-color) !important;
  border-bottom: 2px solid var(--primary-color) !important;
}
