@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background-color: #ffffff;
}

.data-all {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  margin-top: 20px;
}

.data-all h2 {
  margin-bottom: 1.5rem;
  color: #333;
  font-weight: 600;
}

.allData {
  margin-bottom: 1rem;
}

.allData p:first-child {
  font-weight: 600;
  color: #666;
  margin-bottom: 0.5rem;
  font-size: 0.95rem;
}

.allData .value {
  background-color: #f8f9fa;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  border: 1px solid #e9ecef;
  font-size: 0.95rem;
  color: #494949;
  font-weight: 600;
}

.profil-img {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 20px; */
}

.profil-img img {
  width: 60%;
  height: 60%;
  object-fit: cover;
  border-radius: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .data-all {
    padding: 1.5rem;
    margin-top: 1rem;
  }

  .profil-img {
    margin-bottom: 2rem;
  }

  .profil-img img {
    width: 60%;
    height: 80%;
    object-fit: cover;
  }
}
