.sideNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 15vw;
  height: 100%;
  background-color: rgb(67, 54, 240);
  padding: 2%;
}

.bodyContainer {
  margin-left: 15vw;
  padding: 5vh;
  width: 80vw;
}

.bodyHeading {
  color: rgb(67, 54, 240);
  font-family: "Poppins";
  font-weight: 500;
}

.jadiBiru {
  background-color: #f5f5f5;
  color: black;
  transition: 300ms;
}

.jadiBiru:hover {
  background-color: rgb(67, 54, 240);
  color: white;
}

.btn-link {
  color: inherit;
}

.btn-link:hover {
  color: white;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .sideNav {
    width: 0;
    padding: 0;
    display: none;
  }

  .bodyContainer {
    margin-left: 0;
    width: 100%;
  }

  thead th:nth-child(1),
  thead th:nth-child(5) {
    width: auto;
  }
}
